html, body {
  margin: 0;
}

header {
  padding: 3px 0;
  background-color: #ddd;
  
  text-align: center;
}

label {
  font-family: sans-serif;
  font-size: 14px;
}

#editor {
  background-color: #eee;
  width: 100%;
  height: auto;
  overflow: auto;
  
  white-space: pre;
  font-family: monospace;
  font-size: 12px;
}
